*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*container tela home*/
.containerLogin{
    max-width: 411px; 
    width: 100%; 
    height: 100vh;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*inicio header home*/
.containerHeader{
    width: 100%;
    height: 85px;
    background: #d9d9d950;
    box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerHeader .headerLogo {
    width: 411px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.containerHeader .headerLogo .imgLogo {
    width: 155px;
    height: 48px;
    margin-left: 100px;
}

.containerHeader .headerLogo .imgAvatar{
    width: 48px;
    height: 48px;
    border-radius: 50%;    
}
/*fim header home*/

/*inicio container agenda*/
.containerAgenda{
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: auto;
    background: #FFFFFF;
    position: relative;
}
.containerAgenda h4{
    width: 170px;
    font-style: italic;
    margin: 10px;

}

.cartaoMomento {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.cartaoMomento .marcaDagua{
    z-index: 0;
}

.cartaoMomento .marcaDagua img{
    width: 370px;
    height: 645px;
    margin: 0 24px;
    opacity: 0.3;
    position: absolute;
}

.caixaFotoTop{
    width: 150px;
    height: 190px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 30px;
    box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 25%);
    z-index: 1;
    position: absolute;
    
}
.caixaFotoTop img{
    width: 115px;
    height: 130px;
    background-color: #D9D9D9;
    object-fit: cover;
}

.caixaFotoTop .iconesAgenda{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 25px;
    color: #53A5CF;
}
.caixaFotoTop .iconesAgenda i{
    font-size: 20px;
    cursor: pointer;
}
 /*POST-IT TOP*/
.containerAgenda .postItTop{
    width: 150px;
    height: 100px;
    background-color:  #fffde7;;
    position: absolute;
    top: 40px;
    left: 190px;
    margin-top: 40px;
    margin-right: 30px;
    padding: 20px;
     border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    transform: rotate(5deg);
}
.postItTop p{
    font-size: 10px;
}/*fim post-it top*/

/*caixa de foto esquerda com coração*/
.caixaFotoLeft{
    width: 124px;
    height: 141px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 25%);
    top:260px;
    left: 25px;
    position: absolute;
    z-index: 1;
}
.caixaFotoLeft img{
    width: 96px;
    height: 112px;
    background-color: #D9D9D9;
    object-fit: cover;
}

.caixaFotoLeft .iconesAgenda i{
    position: absolute;
    margin: 10px;
    color: #53A5CF;
    left: -25px;
    top: -30px;
    font-size: 40px;
    rotate: -15deg;
    z-index: 2;
    text-shadow: #636060fc -3px -3px 5px;
} /*fim cx foto esqueda*/

/*cx foto direita*/
.caixaFotoRight{
    width: 125px;
    height: 141px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding-bottom: 20px;
    box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 25%);
    top:200px;
    left: 215px;
    position: absolute;
    rotate: 17deg;
    z-index: 1;
}
.caixaFotoRight img{
    width: 98px;
    height: 93px;
    background-color: #D9D9D9;
    object-fit: cover;
}

.caixaFotoRight .iconesAgenda i{
    position: absolute;
    margin: 10px;
    color: #53A5CF;
    right: 100px;
    bottom: 100px;
    font-size: 40px;
    rotate: -17deg;
    text-shadow: #636060fc 5px -4px 5px;
}

/*postItMiddle*/
.containerAgenda .postItMiddle{
    width: 150px;
    height: 100px;
    background-color:  #f3e5f5;;
    position: absolute;
    top: 350px;
    left: 210px;
    margin-top: 40px;
    margin-right: 30px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    transform: rotate(2deg);
    z-index: 0;
}
.postItMiddle p{
    font-size: 10px;
}

/*cx foto de baixo*/
.caixaFotoBottom{
    width: 125px;
    height: 141px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding-bottom: 20px;
    box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 25%);
    top:480px;
    left: 185px;
    position: absolute;
    rotate: -15deg;
    z-index: 1;
}
.caixaFotoBottom img{
    width: 98px;
    height: 93px;
    background-color: #D9D9D9;
    object-fit: cover;
}

.caixaFotoBottom .iconesAgenda i{
    position: absolute;
    margin: 10px;
    color: #53A5CF;
    right: 100px;
    bottom: 100px;
    font-size: 40px;
    rotate: -17deg;
}

/*postItBottom*/
.containerAgenda .postItBottom{
    width: 150px;
    height: 100px;
    background-color:  #fff9c4;;
    position: absolute;
    top: 500px;
    left: 30px;
    padding: 15px;
    margin-top: 40px;
    margin-right: 30px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    transform: rotate(-2deg);
    z-index: 0;
}
.postItBottom p{
    font-size: 14px;
    font-family: 'Comic Sans MS', cursive, sans-serif; 
}

.postItTop ::before,
.postItMiddle ::before,
.postItBottom ::before{
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 15px;
    background: #f0e68c;
    border-radius: 2px;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
}
.postItMiddle ::before{
    background: #e1bee7;
}
.postItBottom ::before{
    background: #fff176;
}