*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.containerLogin{
    max-width: 411px; 
    width: 100%; 
    height: 100vh;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoSlogan{ 
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.logoSlogan img{
    width: 302px;
    height: 94px;
}

.logoSlogan p{
    width: 239px;
    height: 30px;
    font-size: 15px;
    color: #9E9E9E;
}
.buttonsLogin{
    width: 363PX;
    height: 264px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.buttonsLogin button{
    width: 363px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 16px;
    color: #000000;        
}

.buttonsLogin button:hover{
    background: #53A5CF;
    color: #FFFFFF;
    transition: 0.3s;
    cursor: pointer;
}


.buttonsLogin button.google,button.facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.entrar a{
    color: #000000;
    text-decoration: none;
}
.entrar a:hover{
    color: #FFFFFF;
    text-decoration: none;
}

.footer{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    color: #9E9E9E;
}
.footer p{
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
}
.footer p a{
    color: #9E9E9E;
    text-decoration: none;
    cursor: pointer;
}
.footer p a:hover{
    color: #53A5CF;
    transition: 0.3s;
}