*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.containerLogin{
    max-width: 411px; 
    width: 100%; 
    height: 100vh;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#form-cadastro{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

#form-cadastro input{
    width: 363px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 16px;
    color: #000000;        
}

#form-cadastro input:hover{
    background: #53A5CF;
    color: #000000;
    transition: 0.3s;
    cursor: pointer;
}


button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
button {
    width: 363px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 16px;
    color: #000000; 
    text-decoration: none;
}
button{
    background: #53A5CF;
    color: #FFFFFF;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    
}
