@media screen and (min-width: 768px) {
  
  .containerLogin,
  .containerAdmin,
  .containerEvento,
  .containerHome,
  .containerAgenda {
    max-width: 900px;
    margin: auto;
    padding: 40px;
    border-radius: 16px;
    margin-top: 20px;
  }

  .headerLogo,
  .navegationBar,
  .category,
  .dateEvents,
  .nextEvents {
    width: 100%;
    max-width: 100%;
    padding: 0 350px;
    padding-top: 10px;
  }

  input, button, select, textarea {
  font-size: 16px !important;
}

  form, #form-evento {
    max-width: 600px;
    width: 100%;
  }

  input,
  button {
    width: 100%;
    max-width: 600px;
  }

  .logoSlogan,
  .buttonsLogin {
    align-items: center;
    margin-bottom: 20px;
  }

  .caixaFotoTop,
  .caixaFotoLeft,
  .caixaFotoRight,
  .caixaFotoBottom,
  .postItTop,
  .postItMiddle,
  .postItBottom {
    transform: scale(1.2);
  }
  
}
